!!! 5
html
  head
    meta(charset='utf-8')
    title Page Not Found :(
    style.
      body {
        text-align: center;
        font: 20px Constantia, 'Hoefler Text',  "Adobe Caslon Pro", Baskerville, Georgia, Times, serif;
        color: #999;
        text-shadow: 2px 2px 2px rgba(200, 200, 200, 0.5);
        margin: 0 auto;
      }
      h1 {
        font-size: 50px;
        text-align: center;
      }
      article {
        display:block;
        text-align: left;
        width: 500px;
        margin: 0 auto;
      }
      a {
        color: rgb(36, 109, 56);
        text-decoration:none;
      }
      a:hover {
        color: rgb(96, 73, 141);
        text-shadow: 2px 2px 2px rgba(36, 109, 56, 0.5);
      }

  body
    article
      h1
        | Página Não Existe
        span :(
      div
        p Desculpe,mas a página que você tentou acessar não existe.
        p Parece que isso é resultado de:
        ul
          li um endereço digitado errado;
          li um link desatualizado.
